@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing:border-box ;
font-family: 'Poppins' , 'sans-serif' ;
}
body{   
     color: hsl(261, 76%, 59%);
}
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background:transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color:#ff80c0;
    text-decoration: none ;
    font-weight: 600;
}
.logo::before{

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;

}
.navebar a{
display: inline-block;
    font-size: 18px;
    color:whitesmoke ;
    text-decoration: none ;
    font-weight: 600;
    margin-left:  35px; 
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i) );
}
.navebar a.active ,
.navebar a:hover {
    background:linear-gradient(45deg,#f06,#3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip : text;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 10%;
    background: #081b29;
    justify-content: space-between;
    background-size:cover;
    background-position: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 500px;
}
.home-content h1{
position: relative;
font-size: 55px;
font-weight: 600;
line-height: 1.2;
opacity: 0;
animation: slideRight 1s ease forwards;
animation-delay: .7s;
}
.home-content h3{
position: relative;
font-size: 32px;
font-weight: 700;
line-height: 1.2;
color: #3cf;
opacity: 0;
animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-content p{
    display: inline;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0 40px;
    color:#FBA834;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;

}
.btn-box{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: aliceblue;
    font-size: 18px;
    height: 30%;
    width: 30%;
    z-index: 1;
    opacity: 0;
    margin: 1.5%;
    top: 20px;
    right: 10px;
    padding: 10px 5px 7px;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;   
}
.btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    inset: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg,#f06,#3cf,#f06);
    background-size: 200%;
    background-position: 0 0;

  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
transition: .5s ease;
}
.btn-box:hover::before
{
    background-position: 100% 0;
}
.btn-box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    inset: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg,#f06,#3cf,#f06);
    background-position: 0 0;
    background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: .5 ease;

}
.btn-box:hover::after
{
    background-position: 100% 0;    
}
.home-sci {
position: absolute;
bottom: 20px;
width: 25%;
display:inline-flex;
justify-content:space-between;
opacity: 0;
animation: slideLeft 1s ease forwards;
animation-delay: 2s;
}


.home-sci a {
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    background:linear-gradient(45deg,#f06,#3cf,#f06);
    border: 2px solid ;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color:aliceblue;
    z-index: 1;
    transition: .6s;
    margin: 20px 0;
}

.home-sci a::before{
    content: '';
position: absolute;
height: 100%;
width: 100%;
border-radius: 50%;
background:linear-gradient(45deg,#f06,#3cf,#f06);
z-index: -1;
transition: .5s ease;
}
.home-sci a:hover::before{
filter:blur(5px);
}

.home-sci a::after{
    content: '';
position: absolute;

height: 100%;
width: 100%;
border-radius: 50%;
background:#081b29;
transform: scale(.88);
z-index: -1;
transition: .5s ease;
}
.home-sci a:hover::after{
transform:scale(0) ;
}





.home-imgHover {
width: 410px;
height: 410px;
opacity: 0;
animation: zoomIn 1s ease forwards , floatImage 4s ease-in-out infinite ;
animation-delay: 2.1s , 3.1s;
}
.home-imgHover .glowing-circle {
position: relative;
width: 100%;
height: 100%;
background:linear-gradient(45deg,#f06,#3cf,#f06);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.home-imgHover .glowing-circle::after{
    content: '';
    position: absolute;
    height: 380px;
    width:380px;
    background:palevioletred;
    border-radius: 50%;
    
}

.glowing-circle span {

    position: absolute;
    height: 100%;
    width:100%;
    background:linear-gradient(45deg,#f06,#3cf,#f06);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}
.glowing-circle span:nth-child(1){
    filter: blur(15px);
}
.glowing-circle .image{
position: relative;
width: 380px;
height: 380px;
border-radius: 50%;
background:black;
z-index: 1;
overflow: hidden;
}

.image img {
max-width: 350px;
object-fit:cover;
top:30px;
left: 50%;
transform: translateX(-50%);
position: absolute;
}

@keyframes slideTop{

0% 
{
opacity: 0;
transform: translateY(100px);
}

100%
{
opacity: 1;
transform: translateY(0);
}
}


@keyframes slideRight{

    0% 
    {
    opacity: 0;
    transform: translateX(-100px);
    }
    
    100%
    {
    opacity: 1;
    transform: translateX(0);
    }
    }

    
@keyframes slideLeft{

    0% 
    {
    opacity: 0;
    transform: translateX(100px);
    }
    
    100%
    {
    opacity: 1;
    transform: translateX(0);
    }
    }
@keyframes showRight {
100%{
    width:0;
}
}
@keyframes  manipActiveHover {

    100% {
        pointer-events: auto;
    }
}
@keyframes zoomIn{

    0%{
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage{
   0%{
    transform: translateY(0);
   }
   50%{
    transform: translateY(-24px);
   }
   100%{
    transform: translateY(0);
   }
}
@keyframes circleRotate {
0%{
        transform: rotate(0);
}

100% {

    transform: rotate(360deg);
}

}